# ======================
# Node dependencies
# ======================
node_modules/

# ======================
# Production build
# ======================
dist/

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# Editor / OS
# ======================
.vscode/
.idea/
.DS_Store
